---
import FormatLib from '@/libs/formatLib';
import { LAYOUT_MAX_WIDTH_SIZE } from '@/constants/styles';

const { cn } = FormatLib;
---

<main class={cn(LAYOUT_MAX_WIDTH_SIZE, 'mx-auto min-h-screen w-full mt-10')}>
  <slot />
</main>
