---
import FormatLib from '@/libs/formatLib';

interface Props {
  type?: 'island' | 'post';
}

const { type } = Astro.props;
const { cn } = FormatLib;
---

<main
  class={cn(
    type === 'island' ? 'w-full' : 'max-w-[992px] px-[30px]',
    'mx-auto mt-10 w-full flex-1',
  )}
>
  <slot />
</main>
