---
import FormatLib from "@/libs/formatLib";

const {cn} = FormatLib;
const LAYOUT_WIDTH_SIZE = 'max-w-[992px]';
---
<main
      class={cn(LAYOUT_WIDTH_SIZE, 'mx-auto min-h-screen w-full p-[30px]')}
    >
    
      <div class="flex w-full flex-col items-start justify-start gap-[50px] pt-[100px]">
        <slot />    
      </div> 
    </main>