---
import Layout from '@/components/templates/Layout/index.astro';
import Prose from '@/components/Prose/index.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const pageTitle = `blog | ${entry.data.title}`;
---

<Layout title={pageTitle}>
  <div class="mb-16 flex flex-col gap-6">
    <h1 class="text-6xl font-bold dark:text-white">{entry.data.title}</h1>
    <p class="flex w-full items-center gap-1">
      <ion-icon class="time" name="time-outline"></ion-icon>
      <span class="text-sm dark:text-white"
        >{remarkPluginFrontmatter.minutesRead}</span
      >
    </p>
  </div>
  <Prose>
    <Content />
  </Prose>
</Layout>
