---
import Layout from '@/components/templates/Layout/index.astro';
import Card from '@/components/card/Blog/index.astro';
import { getCollection } from 'astro:content';

const pageTitle = `Blog`;
const pageDescription = `Share technology topics or development experience know-how that you are interested in.`;
const blogEntries = await getCollection('blog');
const isProd = import.meta.env.PROD;
const isDev = import.meta.env.DEV;
---

<Layout title={pageTitle} description={pageDescription}>
  <h1 class="text-6xl font-bold dark:text-white">Blog</h1>
  <section class="mt-20 flex flex-col items-start justify-start gap-10">
    {
      blogEntries.reverse().map((post) => {
        if ((!post.data.isDraft && isProd) || isDev)
          return (
            <Card
              data={{
                title: post.data.title,
                thumbnail: post.data.thumbnail,
                createdDate: post.data.createdDate,
                modifiedDate: post.data.modifiedDate,
                topic: post.data.topic,
                slug: post.slug,
              }}
            />
          );
      })
    }
  </section>
</Layout>
