---
import Header from '@/components/templates/Header/index.astro';
import Main from '@/components/templates/Main/index.astro';
import { LayoutType } from '@/constants/styles';
import '@/styles/main.css';

interface Props {
  title: string;
  type: LayoutType;
}

const { title, type } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-gray-900">
    <Header />
    <Main type={type}>
      <slot />
    </Main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
