---
const { id } = Astro.props;
---

<a
  href=`https://github.com/pillomon/devvoyage.io/tree/main/src/content/blog/${id}.mdx`
  target="_blank"
  rel="noopenner noreferer"
  class="w-fit rounded-full border-[1px] border-zinc-200 bg-transparent p-[16px] text-sm text-secondary transition-all hover:-translate-y-1 hover:border-zinc-400 dark:text-white"
  >✍️ Edit on Github
</a>
