<footer class="w-full">
  <div
    class="mx-auto flex w-full max-w-[992px] items-center justify-center p-[30px]"
  >
    <span class="dark:text-white">&copy; All rights reserved.</span>
  </div>
</footer>
