@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffbe98;
  --secondary-color: #04080d;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
  }
}
@layer components {
  .highlighter-animation {
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
  }
  .highlighter-animation:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(
      transparent 70%,
      var(--primary-color) 30%
    );
  }
}
@layer utilities {
  .prose-post {
    @apply prose dark:prose-invert prose-headings:no-underline
    prose-h1:font-bold prose-h1:underline prose-h2:underline prose-p:text-justify prose-a:text-blue-600
    prose-img:w-full prose-img:rounded-xl;
  }
}
