@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime-color: #ffbe98;
}

@layer base {
  ion-icon.github {
    font-size: 30px;
    color: rgb(4, 8, 13);
  }
  ion-icon.linkedin {
    font-size: 30px;
    color: rgb(13, 91, 186);
  }
  ion-icon.time {
    font-size: 12px;
    color: rgb(4, 8, 13);
  }
  ion-icon.alert-circle-outline {
    font-size: 48px;
    color: rgb(4, 8, 13);
  }
  ion-icon.share-outline {
    font-size: 24px;
    color: rgb(4, 8, 13);
  }
  @media (prefers-color-scheme: dark) {
    ion-icon.github {
      color: white;
    }
    ion-icon.time {
      color: white;
    }
    ion-icon.alert-circle-outline {
      color: white;
    }
    ion-icon.share-outline {
      color: white;
    }
  }
}
@layer components {
  .highlighter-animation {
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
  }
  .highlighter-animation:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(transparent 70%, var(--prime-color) 30%);
  }
}
@layer utilities {
  .prose-post {
    @apply prose dark:prose-invert prose-headings:no-underline
    prose-h1:font-bold prose-h1:underline prose-h2:underline prose-p:text-justify prose-a:text-blue-600
    prose-img:w-full prose-img:rounded-xl;
  }
}
