@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ion-icon.github {
    font-size: 30px;
    color: rgb(4, 8, 13);
  }
  ion-icon.linkedin {
    font-size: 30px;
    color: rgb(13, 91, 186);
  }
  ion-icon.time {
    font-size: 12px;
    color: rgb(4, 8, 13);
  }
  @media (prefers-color-scheme: dark) {
    ion-icon.github {
      font-size: 30px;
      color: white;
    }
    ion-icon.time {
      font-size: 14px;
      color: white;
    }
  }
}
@layer utilities {
  .common-layout {
    @apply max-w-[992px] px-[30px];
  }
}
