---
import type { GetStaticPaths } from 'astro';
import Layout from '@/components/template-layout.astro';
import Edit from '@/components/edit.astro';
import { islands } from '@/islands';

export const getStaticPaths = (() => {
  return islands.map(({ slug, title, topic, component }) => {
    return {
      params: { slug },
      props: { title, topic, component },
    };
  });
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const { title, topic, component: Component } = Astro.props;

const pageTitle = title;
const pageDescription = topic;
---

<Layout title={pageTitle} description={pageDescription}>
  <div class="mx-auto mb-12 w-full max-w-[992px] px-[30px]">
    <p
      class="flex w-full flex-col items-start justify-start gap-2 rounded-lg bg-gray-400 p-[30px]"
    >
      <span class="inline-block">💡</span>
      <span class="text-md font-normal large:text-lg">{topic}</span>
    </p>
  </div>
  <div class="w-full px-[30px] py-6">
    <Component />
  </div>
</Layout>
