---
import Layout from '@/components/templates/Layout/index.astro';

const pageTitle = `Not Found`;
---

<Layout title={pageTitle}>
  <div class="flex w-full flex-col items-center gap-10">
    <ion-icon class="alert-circle-outline" name="alert-circle-outline"
    ></ion-icon>
    <h1 class="text-4xl font-bold dark:text-white">찾을 수 없음</h1>
    <span class="text-2xl dark:text-white"
      ><a href="/" class="underline underline-offset-2 hover:no-underline">홈</a
      >으로 이동</span
    >
  </div>
</Layout>
