---
import Layout from '@/components/templates/Layout/index.astro';

const pageTitle = 'Home';

return Astro.redirect('/blog');
---

<Layout title={pageTitle}>
  <a href="/blog" class="hover:underline hover:underline-offset-2">Go blog</a>
</Layout>
