---
import Layout from '@/components/templates/Layout/index.astro';

const pageTitle = 'Home';
---

<Layout title={pageTitle}>
  <ul class="flex flex-col items-start justify-start gap-10">
    <li>
      <a
        href="/blog"
        class="text-6xl font-bold hover:underline hover:underline-offset-auto dark:text-white"
        >Blog</a
      >
    </li>
    <li>
      <a
        href="/lab"
        class="text-6xl font-bold hover:underline hover:underline-offset-auto dark:text-white"
        >Lab</a
      >
    </li>
  </ul>
</Layout>
