---
import Layout from '@/components/template-layout.astro';

const pageTitle = 'devvoyage - A personal blog by Pillsang SUNG.';
const pageDescription = 'A personal blog by Pillsang SUNG.';
---

<Layout title={pageTitle} description={pageDescription}>
  <ul class="flex flex-col items-start justify-start gap-10">
    <li>
      <a
        href="/blog"
        class="can-hover:highlighter-animation text-6xl font-bold dark:text-white"
        >Blog</a
      >
    </li>
    <li>
      <a
        href="/lab"
        class="can-hover:highlighter-animation text-6xl font-bold dark:text-white"
        >Lab</a
      >
    </li>
  </ul>
</Layout>
