---
interface Props {
  isVisible: boolean;
}

const { isVisible } = Astro.props;
---

<script>
  import EventLib from '@/libs/event-lib';
  const updateScrollIndicator = () => {
    const winScroll =
      document.body.scrollTop || document.documentElement.scrollTop;
    const height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    const scrolled = (winScroll / height) * 100;
    const ScrollIndicatorEl = document.getElementById('scroll-indicator');
    if (ScrollIndicatorEl) ScrollIndicatorEl.style.width = scrolled + '%';
  };

  const throttledUpdateScrollIndicator = EventLib.throttle(
    updateScrollIndicator,
    75,
  );

  window.onscroll = function () {
    throttledUpdateScrollIndicator();
  };
</script>
{
  isVisible ? (
    <div class="h-[5px] w-full bg-transparent">
      <div id="scroll-indicator" class="h-full w-0 bg-primary transition-all" />
    </div>
  ) : (
    false
  )
}
