---
import { Image, Picture } from 'astro:assets';
import FormatLib from '@/libs/format-lib';
import ReadProgressBar from '@/components/read-progress-bar.astro';

const { pathname } = Astro.url;
const { cn } = FormatLib;
const paths = pathname.split('/');
const isBlogPost = !!(paths[1] === 'blog' && paths[2]);
---

<header
  class={cn(
    isBlogPost ? 'z-50 sticky left-0 top-0 flex flex-col' : '',
    'w-full backdrop-blur-md',
  )}
>
  <div
    class="mx-auto flex h-[60px] w-full max-w-[992px] items-center justify-between px-[30px]"
  >
    <a href="/"
      ><span class="text-2xl font-bold dark:text-white"
        >de<strong class="text-primary">vv</strong>oyage</span
      ></a
    >
    <div class="flex items-center gap-1">
      <span class="inline-block text-base font-bold italic dark:text-white"
        >by</span
      >
      <a
        href="https://bento.me/pillsang"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Image src="/images/memoji.png" alt="test" width="40" height="40" />
      </a>
    </div>
  </div>
  <ReadProgressBar isVisible={isBlogPost} />
</header>
