---
import FormatLib from '@/libs/formatLib';

const { pathname } = Astro.url;
const { cn } = FormatLib;
---

<header
  class={cn(
    pathname === '/blog' ? 'sticky left-0 top-0 flex flex-col' : '',
    'w-full dark:bg-gray-800 bg-white',
  )}
>
  <div
    class="mx-auto flex h-[60px] w-full max-w-[992px] items-center justify-between px-[30px]"
  >
    <a href="/"
      ><span class="text-2xl font-bold dark:text-white"
        >de<strong class="text-primary">vv</strong>oyage</span
      ></a
    >
    <ul class="flex items-center gap-2">
      <li class="flex">
        <a
          href="https://github.com/pillomon"
          target="_blank"
          rel="noreferrer noopener"
          class="flex"
        >
          <ion-icon
            name="logo-github"
            class="text-[26px] text-secondary medium:text-[30px] dark:text-white"
          ></ion-icon>
        </a>
      </li>
      <li class="flex">
        <a
          href="https://www.linkedin.com/in/pillsang-sung-b4aba417a/"
          target="_blank"
          rel="noreferrer noopener"
          class="flex"
        >
          <ion-icon
            name="logo-linkedin"
            class="text-[26px] text-[rgb(13_91_186)] medium:text-[30px]"
          ></ion-icon>
        </a>
      </li>
    </ul>
  </div>
  {
    pathname === '/blog' ? (
      <div class="h-[5px] w-full bg-transparent">
        <div
          id="scroll-indicator"
          class="h-full w-0 bg-primary transition-all"
        />
      </div>
    ) : undefined
  }
</header>

<script>
  window.onscroll = function () {
    myFunction();
  };

  const myFunction = () => {
    const winScroll =
      document.body.scrollTop || document.documentElement.scrollTop;
    const height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    const scrolled = (winScroll / height) * 100;
    const ScrollIndicatorEl = document.getElementById('scroll-indicator');
    if (ScrollIndicatorEl) ScrollIndicatorEl.style.width = scrolled + '%';
  };
</script>
